<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




 <mapper namespace = "com.ashspell.project.notice.dao.NoticeDAO">
 <insert id = "insertAdminPost" parameterType = "map">
 	INSERT INTO `adminpost` (
 	`noticetitle`,
 	`noticecontent`,
 	`createdAt`,
 	`updatedAt`
 	)value(
 	#{noticetitle},
 	#{noticecontent},
 	now(),
 	now()
 	)
 	
 </insert>
 <select id = "selectNoticeList" parameterType = "int" resultType = "com.ashspell.project.notice.model.Notice">
 	SELECT  
 		`id`,
 		`noticetitle`,
 		`createdAt`
 	FROM `adminpost`
 	
 	ORDER BY `id` DESC
 
 </select>
 
 <select id = "selectNoticedetail" parameterType = "int" resultType = "com.ashspell.project.notice.model.Notice">
 	SELECT
 		`id`,
 		`noticetitle`,
 		`createdAt`,
 		`noticecontent`
 	FROM `adminpost`
 
 </select>
 
 
 
 
 </mapper>