<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace = "com.ashspell.project.user.dao.UserDAO">
 	<insert id ="insertUser" parameterType = "map">
 		INSERT INTO `user`(
 			
 			`loginid`
 			, `password`
 			, `email`
 			, `name`
 			, `hometown`
 			, `createdAt`
 			, `updatedAt`
 		) value (
 			
 			#{loginid}
 			, #{password}
 			, #{email}
 			, #{name}
 			, #{hometown}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	
 	<select id = "selectUser" parameterType = "map" resultType = "com.ashspell.project.user.model.User">
 		SELECT
 			`id`
 			, `loginid`
 			, `password`
 			, `email`
 			, `name`
 			, `hometown`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`user`
 		WHERE 
 		`loginid` = #{loginid} AND
 		`password` = #{password}
 	</select>
 	
 	
 	<select id = "selectCountByloginId" parameterType = "string" resultType = "int">
 		SELECT 
 			count(1)
 		FROM `user` 
 		
 		WHERE `loginid` = #{loginid}
 	</select>
 
 	
 	
 </mapper>