@charset "UTF-8";


#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:40px;
	background-color:#6A5ACD;
}


footer {
	height:50px;
	background-color:#6A5ACD;
}

#loginBox {
	width:500px;
	
}

.noticebox {
	
	width:500px;
}









